<a href="#" class="float" style="background-color: blueviolet" id="menu-share">
<i class="fa fa-comments my-float"></i>
</a>
<ul class="contact">
<li><a href="#" style="background-color: cornflowerblue">
<i class="fa fa-facebook my-float"></i>
</a>
<div class="label-container">
<div class="label-text">Facebook</div>
<i class="fa fa-play label-arrow"></i>
</div>  
</li>
<li><a href="#" style="background-color: #f33">
<i class="fa fa-google-plus my-float"></i>
</a>
<div class="label-container">
<div class="label-text">Google Plus</div>
<i class="fa fa-play label-arrow"></i>
</div>  
</li>
<li><a href="#" style='background-color: deepskyblue'>
<i class="fa fa-twitter my-float"></i>
</a>
<div class="label-container">
<div class="label-text">Twitter</div>
<i class="fa fa-play label-arrow"></i>
</div>  
</li>
</ul>
