<footer>
  <div class="centered clearfix">
    <div class="footer-logo">
      <img class="logo" src="{{ site.url }}{{ site.baseurl }}/assets/img/logo_min.png" alt="footer-logo">
      <div class="social">
        <a href="https://www.facebook.com/">
          <i class="fa fa-facebook" style="color:#3b5998"></i>
        </a>
        <a href="https://twitter.com/">
          <i class="fa fa-twitter" style="color:#1da1f2"></i>
        </a>
        <a href="https://www.linkedin.com/">
          <i class="fa fa-linkedin" style="color:#0077b5"></i>
        </a>
      </div>
    </div>
    <div class="footer-contact">
       <h3><a href="">Contact</a></h3>
       <p>Progressive Software Solutions and Training</p>
       <p>Koyas Tower</p>
       <p>Post Office Junction</p>
       <p>Muvattupuzha</p>
       <p><a href="mailto:progressiveofc@gmail.com">progressiveofc@gmail.com</a></p>
       <p><a href="tel:+914852834881">0485-2834881</a></p>
       <p><a href="tel:+919072488881">+919072488881</a></p>
    </div>
    <div class="footer-navigation">
      <div class="footer-links-holder">
        <h5><a href="">Programming Courses</a></h5>
        <ul class="footer-links">
          <li><a href="">Page Title 1</a></li>
          <li><a href="">Page Title 2</a></li>
          <li><a href="">Page Title 3</a></li>
          <li><a href="">Page Title 4</a></li>
        </ul>
      </div>
      <div class="footer-links-holder">
        <h5><a href="">Goverment Approved Courses</a></h5>
        <ul class="footer-links">
          <li><a href="">Page Title 1</a></li>
          <li><a href="">Page Title 2</a></li>
          <li><a href="">Page Title 3</a></li>
          <li><a href="">Page Title 4</a></li>
        </ul>
      </div>
      <div class="footer-links-holder">
        <h5><a href="">Certified Courses</a></h5>
        <ul class="footer-links">
          <li><a href="">Page Title 1</a></li>
          <li><a href="">Page Title 2</a></li>
          <li><a href="">Page Title 3</a></li>
          <li><a href="">Page Title 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom-bar">
      All Rights Reserved © 2016 | <a href="">Privacy Policy</a> | <a href="">Terms of Service</a>
  </div>
</footer>
