<footer>
  <div class="centered clearfix">
    <div class="footer-logo">
      <img class="logo" src="{{ site.url }}{{ site.baseurl }}/assets/img/logo_min.png" alt="footer-logo">
      <div class="social">
        <a href="https://www.facebook.com/">
          <i class="fa fa-facebook" style="color:#3b5998"></i>
        </a>
        <a href="https://twitter.com/">
          <i class="fa fa-twitter" style="color:#1da1f2"></i>
        </a>
        <a href="https://www.linkedin.com/">
          <i class="fa fa-linkedin" style="color:#0077b5"></i>
        </a>
      </div>
    </div>
    <div class="footer-contact">
       <h3><a href="">Contact</a></h3>
       <p><a href="mailto:">fake@fake.com</a></p>
       <p><a href="tel:">123-456-7890</a></p>
       <p><a href="">123 Fake St<br />Fake, PA 11111</a></p>
    </div>
    <div class="footer-navigation">
      <div class="footer-links-holder">
        <h3><a href="">Section 1</a></h3>
        <ul class="footer-links">
          <li><a href="">Page Title 1</a></li>
          <li><a href="">Page Title 2</a></li>
          <li><a href="">Page Title 3</a></li>
          <li><a href="">Page Title 4</a></li>
        </ul>
      </div>
      <div class="footer-links-holder">
        <h3><a href="">Section 2</a></h3>
        <ul class="footer-links">
          <li><a href="">Page Title 1</a></li>
          <li><a href="">Page Title 2</a></li>
          <li><a href="">Page Title 3</a></li>
          <li><a href="">Page Title 4</a></li>
        </ul>
      </div>
      <div class="footer-links-holder">
        <h3><a href="">Section 3</a></h3>
        <ul class="footer-links">
          <li><a href="">Page Title 1</a></li>
          <li><a href="">Page Title 2</a></li>
          <li><a href="">Page Title 3</a></li>
          <li><a href="">Page Title 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom-bar">
      All Rights Reserved © 2016 | <a href="">Privacy Policy</a> | <a href="">Terms of Service</a>
  </div>
</footer>
