<div class="hero-slider" data-flickity='{"autoPlay":3000, "pauseAutoPlayOnHover":false, "setGallerySize": false }'>
  {% for y in site.data.carousel %}
  <div class="carousel-cell" style="background-image:url({{ site.url }}{{ site.baseurl }}/assets/img/{{ y.image }});">
    <div class="overlay"></div>
    <div class="slide-content">
      <div class="mask">
        <h2 class="title">{{ y.title }}</h2>
      </div>
      <div class="divider"></div>
        <div class="mask">
          <p class="caption">Flickity is fun to use.</p>
          <a href="https://flickity.metafizzy.co/" target="_blank" class="btn">Tell me more</a>
        </div>
    </div>
  </div>
  {% endfor %}
</div>
