<nav class="cd-nav">
    <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
        <li><a href="{{ site.baseurl }}/about">About Us</a></li>
        <li class="has-children">
            <a href="{{ site.baseurl }}/cources">Courses</a>
            <ul class="cd-nav-icons is-hidden">
                <li class="go-back"><a href="#0">Menu</a></li>
                <li class="see-all"><a href="{{ site.baseurl }}/all-cources">All cources</a></li>
                {% for y in site.data.courses %}
                    <li>
                        <a class="cd-nav-item item-{{ forloop.index }}" href="{{ site.url }}{{ site.baseurl }}/PSST/cources/{{ y.link }}">
                            <h3>{{ y.menu }}</h3>
                            <p>{{ y.description }}</p>
                        </a>
                   </li>
                {% endfor %}
             </ul>
         </li>
        <li><a href="{{ site.baseurl }}/media">Press and Media</a></li>
        <li><a href="{{ site.baseurl }}/gallery">Gallery</a></li>
        <li><a href="{{ site.baseurl }}/register">Register</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
    </ul> <!-- primary-nav -->
</nav> <!-- cd-nav -->
