<nav class="cd-nav">
    <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
        <li><a href="{{ site.baseurl }}/about">About Us</a></li>
        <li class="has-children">
            <a href="{{ site.baseurl }}/cources"></a>
            <ul class="cd-nav-icons is-hidden">
                <li class="go-back"><a href="#0">Menu</a></li>
                <li class="see-all"><a href="{{ site.baseurl }}/all-cources">All cources</a></li>
                    <li>
                        <a class="cd-nav-item item-1" href="http://codyhouse.co/?p=409">
                            <h3>Service #1</h3>
                            <p>This is the item description</p>
                        </a>
                   </li>
         </li>
    </ul> <!-- primary-nav -->
</nav> <!-- cd-nav -->
