<div class="cd-testimonials-wrapper cd-container">
	<ul class="cd-testimonials">
 	 {% for y in site.data.testimomials %}
		<li>
			<p>{{ y.testimonial }}</p>
			<div class="cd-author">
				<img src="{{ site.url }}{{ site.baseurl }}/assets/img/testimonial/{{ y.avatar }}" alt="Author image-{{ forloop.index }}">
				<ul class="cd-author-info">
					<li>{{ y.name }}</li>
					<li>{{ y.designation }}</li>
				</ul>
			</div>
		</li>
	{% endfor %}
	</ul> <!-- cd-testimonials -->

	<a href="#0" class="cd-see-all">See all</a>
</div> <!-- cd-testimonials-wrapper -->
