<div class="pr1 pl1 pt3 pb3 mt3 mb3">
<div class="testimonial" data-flickity='{ "autoPlay":1500,"adaptiveHeight": true }'>
           <div class="testimonial-cell">
           <span class="ribbon"></span>
               <img src="https://arunksoman.github.io/PSST/assets/img/testimonial/avatar-1.jpg" />
               <div class="author">Arun</div>
               <div class="designation">CEO, Google</div>
               <div class="quote">
                   <i class="fa fa-quote-left fa-2x"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
               </div>
           </div>
           <div class="testimonial-cell">
           <span class="ribbon"></span>
               <img src="https://arunksoman.github.io/PSST/assets/img/testimonial/avatar-2.jpg" />
           </div>
           <div class="testimonial-cell">
           <span class="ribbon"></span>
               <img src="https://arunksoman.github.io/PSST/assets/img/testimonial/avatar-3.jpg" />
           </div>
           <div class="testimonial-cell">
           <span class="ribbon"></span>
               <img src="https://arunksoman.github.io/PSST/assets/img/testimonial/avatar-4.jpg" />
           </div>
        </div>
</div>
