<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><a href="https://dw.de" target="_self"><img src="{{ site.url }}{{ site.baseurl }}/assets/data1/images/eyeglassesinfrontoflaptopcomputer1181253.jpg" alt="Learn Cutting Edge Technologies" title="Learn Cutting Edge Technologies" id="wows1_0"/></a>Read More</li>
		<li><a href="https://dw.de" target="_self"><img src="{{ site.url }}{{ site.baseurl }}/assets/data1/images/maninwhiteshirtusingmacbookpro52608.jpg" alt="Don't Worry we are happy to help you" title="Don't Worry we are happy to help you" id="wows1_1"/></a>Know More</li>
		<li><a href="https://dw.de" target="_self"><img src="{{ site.url }}{{ site.baseurl }}/assets/data1/images/tiltshiftlensphotoofblackandwhitechesspieces51055.jpg" alt="Skilled Professional Faculties" title="Skilled Professional Faculties" id="wows1_2"/></a>Know More</li>
		<li><a href="https://dw.de" target="_self"><img src="{{ site.url }}{{ site.baseurl }}/assets/data1/images/turnedonlaptopondesktopwithhoveredadobephotoshopcc693892.jpg" alt="Get More Inter Disciplanary Knowledge" title="Get More Inter Disciplanary Knowledge" id="wows1_3"/></a>Know More</li>
		<li><a href="https://dw.de" target="_self"><img src="{{ site.url }}{{ site.baseurl }}/assets/data1/images/womanprogrammingonanotebook1181359.jpg" alt="Fluent Coding" title="Fluent Coding" id="wows1_4"/></a>Know More</li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Learn Cutting Edge Technologies"><span><img src="{{ site.url }}{{ site.baseurl }}/assets/data1/tooltips/eyeglassesinfrontoflaptopcomputer1181253.jpg" alt="Learn Cutting Edge Technologies"/>1</span></a>
		<a href="#" title="Don't Worry we are happy to help you"><span><img src="{{ site.url }}{{ site.baseurl }}/assets/data1/tooltips/maninwhiteshirtusingmacbookpro52608.jpg" alt="Don't Worry we are happy to help you"/>2</span></a>
		<a href="#" title="Skilled Professional Faculties"><span><img src="data1/tooltips/tiltshiftlensphotoofblackandwhitechesspieces51055.jpg" alt="Skilled Professional Faculties"/>3</span></a>
		<a href="#" title="Get More Inter Disciplanary Knowledge"><span><img src="{{ site.url }}{{ site.baseurl }}/assets/data1/tooltips/turnedonlaptopondesktopwithhoveredadobephotoshopcc693892.jpg" alt="Get More Inter Disciplanary Knowledge"/>4</span></a>
		<a href="#" title="Fluent Coding"><span><img src="{{ site.url }}{{ site.baseurl }}/assets/data1/tooltips/womanprogrammingonanotebook1181359.jpg" alt="Fluent Coding"/>5</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">html5 slideshow</a> by WOWSlider.com v9.0</div>
	<div class="ws_shadow"></div>
</div>	
